.friendList {
  display: flex;
  background-color: darkcyan;
  margin: 0 auto 20px;
  width: 530px;
}

.item {
  margin: 0 auto;
  padding: 10px;
}

.isOnline {
  background-color: green;
}

.isOffline {
  background-color: red;
}

.isOnline,
.isOffline {
  margin: 10px 0 10px 20px;
  display: block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.name {
  margin-top: 10px;
  text-align: center;
}
